
.container {
  display: flex;
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar {
  max-width: 356px;
  max-height: 472px;
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
}

.categories {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 328px;
  height: 472px;
}

.category {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.category:hover {
  color: #007bff;
}

.banner {
  background: linear-gradient(to bottom, #007bff, #00bfff);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  height: 400px;
}


.best-seller-books {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .books-category-container {
  display: flex;
  gap: 20px
} */

.books {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.books:hover {
  background-color: #f0f0f0;
}

.books-list {
  display: flex;
  column-gap: 20px;
}

.books-item {
  max-width: 180px;
  max-height: 306px;
}

.books-image {
  border-radius: 8px;
  width: 100%;
  height: auto;
}